@{
    ViewBag.Title = "Contacto";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Urb. Prados del Cndado<br />
        Oe5416 y Pasaje b2.<br />
        <abbr title="Phone"></abbr>
        (+593) 990 686 940
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">jparraga@593codeplus.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">jcharco@593codeplus.com</a>
    </address>
</main>