@{
    ViewBag.Title = "Inicio";
}

<div class="text-center">
    <h2 class="mb-4">APP WEB NÓMINA</h2>
    <p class="lead">Seleccione una opción para continuar</p>

    <div class="mt-4">

        @Html.ActionLink(
            "🔐 INGRESO",
            "Autenticar",
            "Acceso",
            null,
            new { @class = "btn btn-primary btn-lg m-2" }
        )

        @Html.ActionLink(
            "📝 REGISTRO",
            "Registro",
            "Acceso",
            null,
            new { @class = "btn btn-success btn-lg m-2" }
        )

    </div>
</div>